/*********************************** GLOBAL ***********************************/
@define-color background-color          rgba(50, 50, 50, 0.7);
@define-color accent-color              rgba(255, 255, 255, 1);
@define-color pill-color                rgba(0, 0, 0, 0.7);
@define-color pill-color-hover          rgba(255, 255, 255, 0.3);
@define-color power-button-color-hover  rgba(255, 0,  0, 0.3);
@define-color workspace-color-active    rgba(150, 150, 150, 0.6);
@define-color workspace-color-hover     rgba(0, 0, 0, 0.2);
@define-color alert-color               rgba(200, 75, 75, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: TerminessNerdFont, bold;
  font-size: 15px;
  color: @accent-color;
}

window#waybar {
  background-color: @background-color;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @accent-color;
}

menu {
  background-color: @background-color;
  color: @accent-color;
}

#custom-ip,
#cpu,
#temperature,
#memory,
#pulseaudio,
#clock,
#wireplumber,
#bluetooth,
#disk,
#custom-speedtest {
  background-color: @pill-color;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#custom-ip:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#pulseaudio:hover,
#clock:hover,
#wireplumber:hover,
#bluetooth:hover,
#disk:hover,
#custom-speedtest:hover {
  background-color: @pill-color-hover;
}


/*********************************** TOP BAR **********************************/
/********** WORKSPACES **********/
#workspaces * {
  font-size: 17px;
}

#workspaces button:hover {
  background: @workspace-color-hover;
}

#workspaces button.active {
  background-color: @workspace-color-active;
  box-shadow: inset 0 -3px @accent-color;
}

#workspaces button.urgent {
  background-color: @alert-color;
}

/* omit left margin */
modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}


/********** WINDOWS **********/
#window {

}


/********** CPU USAGE **********/
#cpu {

}


/********** CPU TEMPERATURE **********/
#temperature {
}

#temperature.critical {
  background-color: @alert-color;
}


/********** MEMORY USAGE **********/
#memory {

}


/********** CLOCK **********/
#clock {

}


/********** POWER **********/
#custom-power {
  padding-left: 12px;
  padding-right: 16px;
  font-size: 20px;
}

#custom-power:hover {
  background-color: @power-button-color-hover;
}


/********************************* BOTTOM BAR *********************************/
/********** IP **********/
#custom-ip {
  margin-left: 5px;
}


/********** SPEEDTEST **********/
#custom-speedtest {

}

/********** WIREPLUMBER **********/
#wireplumber {
}

/********** BLUETOOTH **********/
#bluetooth {
  margin-right: 5px;
}
