/*********************************** GLOBAL ***********************************/
@define-color background-color          rgba(50, 50, 50, 0.7);
@define-color accent-color              rgba(255, 255, 255, 1);
@define-color pill-color                rgba(0, 0, 0, 0.7);
@define-color pill-color-hover          rgba(255, 255, 255, 0.3);
@define-color workspace-color-active    rgba(150, 150, 150, 0.6);
@define-color workspace-color-hover     rgba(0, 0, 0, 0.2);
@define-color alert-color               rgba(200, 75, 75, 1);
@define-color warning-color             rgba(255, 150, 50, 1);
@define-color notice-color              rgba(255, 255, 0, 1);
@define-color decent-color              rgba(100, 255, 100, 1);
@define-color good-color                rgba(0, 192, 0, 1);


* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: TerminessNerdFont, bold;
  font-size: 15px;
  color: @accent-color;
}

window#waybar {
  background-color: @background-color;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @accent-color;
}

menu {
  background-color: @background-color;
  color: @accent-color;
}

/************************ COLOR AND SPACING - ALL BARS ************************/

#custom-ip,
#cpu,
#temperature,
#memory,
#pulseaudio,
#clock,
#wireplumber,
#bluetooth,
#disk,
#network,
#custom-clock,
#custom-email,
#custom-vpn,
#custom-speedtest {
  background-color: @pill-color;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#custom-ip:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#pulseaudio:hover,
#clock:hover,
#wireplumber:hover,
#bluetooth:hover,
#disk:hover,
#network:hover,
#idle_inhibitor:hover,
#battery:hover,
#power-profiles-daemon:hover,
#custom-clock:hover,
#custom-email:hover,
#custom-vpn:hover,
#custom-speedtest:hover {
  background-color: @pill-color-hover;
}

#power-profiles-daemon {
  background-color: @pill-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 16px;
  padding-left: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 0px;
}

#battery {
  background-color: @pill-color;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: -4px;
  margin-right: 0px;
}

#idle_inhibitor {
  background-color: @pill-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 13px;
  padding-left: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: -4px;
  margin-right: 0px;
}


/*********************************** TOP BAR **********************************/
/********** WORKSPACES **********/
#workspaces * {
  font-size: 17px;
}

#workspaces button:hover {
  background: @workspace-color-hover;
}

#workspaces button.active {
  background-color: @workspace-color-active;
  box-shadow: inset 0 -3px @accent-color;
}

#workspaces button.urgent {
  background-color: @alert-color;
}

/* omit left margin */
modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}


/********** WINDOWS **********/
#window {

}

/********** VPN **********/
#custom-vpn {

}


/********** EMAIL **********/
#custom-email {

}


/********** CALENDAR **********/
#clock {

}


/********** CLOCK **********/
#custom-clock {

}


/********** POWER PROFILES **********/
#power-profiles-daemon {

}


/********** BATTERY **********/
#battery.critical {
  color: @alert-color;
}

#battery.warning {
  color: @warning-color;
}

#battery.notice {
  color: @notice-color;
}

#battery.decent {
  color: @decent-color;
}

#battery.full {
  color: @good-color;
}


/********** IDLE INHIBITOR **********/
#idle_inhibitor {

}


/******* POWER MENU ********/
#custom-power_menu {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
}

#custom-power_menu:hover {
  color: @alert-color;
}


/********************************* BOTTOM BAR *********************************/
/********** IP **********/
#custom-ip {
  margin-left: 5px;
}


/********** SPEEDTEST **********/
#custom-speedtest {

}

/********** DISKS **********/
#disk {

}

/********** WIREPLUMBER **********/
#wireplumber.muted {
  background-color: @alert-color;
}


/********** BLUETOOTH **********/
#bluetooth {
}

#bluetooth.no-controller {
  background-color: @alert-color;
}


/********** CPU USAGE **********/
#cpu {

}


/********** CPU TEMPERATURE **********/
#temperature {
}

#temperature.critical {
  background-color: @alert-color;
}


/********** MEMORY USAGE **********/
#memory {

}


/********** NETWORK **********/
#network {
  margin-right: 5px;
}

#network.disconnected {
  background-color: @alert-color;
}
