/*********************************** GLOBAL ***********************************/
@define-color background-color          rgba(50, 50, 50, 0.7);
@define-color accent-color              rgba(255, 255, 255, 1);
@define-color pill-color                rgba(0, 0, 0, 0.7);
@define-color pill-color-hover          rgba(255, 255, 255, 0.3);
@define-color workspace-color-active    rgba(150, 150, 150, 0.6);
@define-color workspace-color-hover     rgba(0, 0, 0, 0.2);
@define-color alert-color               rgba(200, 75, 75, 1);
@define-color warning-color             rgba(255, 150, 50, 1);
@define-color notice-color              rgba(255, 255, 0, 1);
@define-color decent-color              rgba(100, 255, 100, 1);
@define-color good-color                rgba(0, 192, 0, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: TerminessNerdFont, bold;
  font-size: 15px;
  color: @accent-color;
}

window#waybar {
  background-color: @background-color;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px 0px 0px 0px; /* top left/top right/bottom right/bottom left */

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @accent-color;
}

menu {
  background-color: @background-color;
  color: @accent-color;
}

/************************ COLOR AND SPACING - ALL BARS ************************/

#custom-ip,
#pulseaudio,
#clock,
#wireplumber,
#bluetooth,
#disk,
#custom-clock,
#custom-email,
#custom-trash,
#custom-cpu,
#custom-gpu,
#custom-memory,
#power-profiles-daemon,
#battery,
#idle_inhibitor,
#custom-vpn,
#network,
#custom-speedtest {
  background-color: @pill-color;
  border-radius: 10px 10px 10px 10px; /* top left/top right/bottom right/bottom left */
  padding: 0px 10px 0px 10px; /* top/right/bottom/left */
  margin: 3px 0px 3px 4px; /* top/right/bottom/left */
}

#custom-ip:hover,
#pulseaudio:hover,
#clock:hover,
#wireplumber:hover,
#bluetooth:hover,
#disk:hover,
#network:hover,
#idle_inhibitor:hover,
#battery:hover,
#power-profiles-daemon:hover,
#custom-clock:hover,
#custom-email:hover,
#custom-vpn:hover,
#custom-trash:hover,
#custom-cpu:hover,
#custom-gpu:hover,
#custom-memory:hover,
#custom-speedtest:hover {
  background-color: @pill-color-hover;
}


/* POWER MANAGEMENT CONTINUOUS BAR */
#power-profiles-daemon {
  border-radius: 10px 0px 0px 10px; /* top left/top right/bottom right/bottom left */
}

#power-profiles-daemon.power-saver,
#power-profiles-daemon.balanced {
  padding-right: 16px;
  padding-left: 10px;
}

#power-profiles-daemon.performance {
  padding-right: 14px;
  padding-left: 12px;
}

#battery {
  border-radius: 0px 0px 0px 0px; /* top left/top right/bottom right/bottom left */
  margin-left: 0px;
}

#idle_inhibitor {
  border-radius: 0px 10px 10px 0px; /* top left/top right/bottom right/bottom left */
  margin-left: 0px;
}


/* NETWORK MANAGEMENT CONTINUOUS BAR */
#custom-vpn {
  border-radius: 10px 0px 0px 10px; /* top left/top right/bottom right/bottom left */
  padding-right: 16px;
  padding-left: 12px;
}

#network {
  border-radius: 0px 10px 10px 0px; /* top left/top right/bottom right/bottom left */
  margin-left: 0px;
}


/*********************************** TOP BAR **********************************/
/********** WORKSPACES **********/
#workspaces * {
  font-size: 17px;
}

#workspaces button:hover {
  background: @workspace-color-hover;
}

#workspaces button.active {
  background-color: @workspace-color-active;
  box-shadow: inset 0 -3px @accent-color;
}

#workspaces button.urgent {
  background-color: @alert-color;
}

/* omit left margin */
modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}


/********** WINDOWS **********/
#window {
}


/********** PRIVACY **********/
#privacy {
  margin-right: 5px;
}


/********** EMAIL **********/
#custom-email {

}


/********** CALENDAR **********/
#clock {

}


/********** CLOCK **********/
#custom-clock {

}


/********** POWER PROFILES **********/
#power-profiles-daemon {

}


/********** BATTERY **********/
#battery.critical {
  color: @alert-color;
}

#battery.warning {
  color: @warning-color;
}

#battery.notice {
  color: @notice-color;
}

#battery.decent {
  color: @decent-color;
}

#battery.full {
  color: @good-color;
}


/********** IDLE INHIBITOR **********/
#idle_inhibitor {

}


/******* TRASH ********/
#custom-trash {

}


/******* POWER MENU ********/
#custom-power_menu {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
}

#custom-power_menu:hover {
  color: @alert-color;
}


/********************************* BOTTOM BAR *********************************/
/********** IP **********/
#custom-ip {
  margin-left: 5px;
}


/********** SPEEDTEST **********/
#custom-speedtest {

}

/********** DISKS **********/
#disk {

}

/********** WIREPLUMBER **********/
#wireplumber.muted {
  background-color: @alert-color;
}


/********** BLUETOOTH **********/
#bluetooth {

}

#bluetooth.no-controller {
  background-color: @alert-color;
}


/********** CPU USAGE **********/
#custom-cpu {

}

#custom-cpu.warning {
  background-color: @warning-color;
}

#custom-cpu.critical {
  background-color: @alert-color;
}


/********** GPU USAGE **********/
#custom-gpu {

}

#custom-gpu.warning {
  background-color: @warning-color;
}

#custom-gpu.critical {
  background-color: @alert-color;
}

/********** MEMORY USAGE **********/
#custom-memory {

}

#custom-memory.critical {
  background-color: @alert-color;
}


/********** VPN **********/
#custom-vpn {

}


/********** NETWORK **********/
#network {
  margin-right: 5px;
}

#network.disconnected {
  background-color: @alert-color;
}
